<form class="modal-content animate" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="imgcontainer">
        <!-- <img src="assets/avatar_icon.jpg" alt="Avatar" class="avatar"> -->
      </div>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="userLogin.email" name="username">
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="userLogin.password" name="password">
  
      <button type="submit">Login</button>
    </div>
</form>